{% extends './main.twig' %}
{% block links %}
  <a href="{{ baseUrl }}" title="Home">Return Home</a>
{% endblock %}
{% block content %}
  <section id="error" class="section">
    <div class="container">
      <h1>Error 500</h1>
      <p>An unknown error has occured.</p>
    </div>
  </section>
{% endblock %}
