{% extends './main.twig' %}
{% block links %}
  <a href="{{ baseUrl }}" title="Home">Return Home</a>
{% endblock %}
{% block content %}
  <section id="error"  class="section">
    <div class="container">
      <h1>Error 404</h1>
      <p>The requested page could not be found.</p>
    </div>
  </section>
{% endblock %}
